@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
}

html,
body {
  overflow-x: hidden;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  min-height: 100%;
  min-width: 100%;
  background-color: rgb(5, 74, 41);
  box-sizing: border-box;
}

/*---Navigaton-----*/

.navbar {
  font-weight: 200;
  font-size: 0.6rem;
  letter-spacing: 0.2rem;
  padding: 0px;
  height: 3.5rem;
}

.navbar-custom {
  background-color: rgb(5, 74, 41);
  border: 2px solid firebrick;
}

.logo-name {
  font-weight: 900;
  font-size: 1rem;
  margin-left: 1.95rem;
  display: inline;
  color: rgb(255, 255, 255);
}

.navbar-nav li {
  padding-right: 2.5rem;
  padding-bottom: 10px;
}

.navbar-custom .navbar-nav .nav-link {
  color: rgb(244, 255, 255);
  font-size: 1.5rem;
  display: inline;
}

.navbar-custom .navbar-nav .nav-link:hover,
.logo-name:hover {
  color: rgb(208, 98, 98);
  text-transform: uppercase;
}

.navbar-toggler {
  right: 15px;
  margin: 0 auto;
  position: fixed;
}

.buttons-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  border: 2px solid blue;
  margin: 10px auto;
  flex-flow: row;
  flex-wrap: wrap;
  position: relative;
}

.dropdown {
  width: 120px;
  height: 45px;
  border-radius: 5px;
  background: #ffffff;
  box-shadow: inset 7px 7px 14px rgb(194, 193, 193),
    inset -7px -7px 14px rgb(194, 193, 193);
  cursor: pointer;
  transition: all 500 ms ease-in-out;
}

.dropdown:active {
  box-shadow: inset 7px 7px 14px rgb(194, 193, 193),
    inset -7px -7px 14px rgb(194, 193, 193);
}

.dropdown input {
  transform: translate(-50%, -50%);
  z-index: 1;
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
  position: relative;
  top: 50%;
  left: 85%;
  color: #f45b69;
  font-size: 1rem;
  font-weight: 700;
  text-transform: capitalize;
}

.dropdown i {
  position: absolute;
  color: #f45b69;
  top: 40%;
  right: 5%;
  transform: translateX(-50%);
  transition: all 500 ms ease-in-out;
}

.dropdown.show i {
  transform: translateX(-50%) rotate(180deg);
  transition: all 500 ms ease-in-out;
}

.options {
  position: absolute;
  cursor: pointer;
  top: 43px;
  width: 120px;
  border-radius: 5px;
  background: #ffffff;
  box-shadow: inset 7px 7px 14px rgb(194, 193, 193),
    inset -7px -7px 14px rgb(194, 193, 193);
  transition: all 500 ms ease-in-out;
  visibility: hidden;
  opacity: 0;
  font-weight: 700;
}

.options li img {
  padding-right: 10px;
}

.dropdown.show .options {
  visibility: visible;
  opacity: 1;
  transition: all 500 ms ease-in-out;
  z-index: 1;
}

.options li {
  position: relative;
  padding: 5px;
  margin-left: 0.5px;
  list-style-type: none;
  color: #f45b69;
  font-size: 1rem;
  font-weight: 700;
  transition: all 500 ms ease-in-out;
}
.options li:first-child {
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.options li:last-child {
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}
.options li:hover {
  background: rgb(224, 222, 222);
}

.timer {
  width: 120px;
  height: 45px;
  font-size: 30px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;

  background: #ffffff;
  box-shadow: inset 7px 7px 14px rgb(194, 193, 193),
    inset -7px -7px 14px rgb(194, 193, 193);
  cursor: pointer;
  transition: all 500 ms ease-in-out;
}

.reset {
  width: 175px;
  height: 175px;
}

.col {
  width: auto;
  margin: 0;
}

.reset,
.sound-icon {
  width: 120px;
  height: 45px;
  background: white;
}
.cards-wrapper {
  border: 3px solid peru;
  max-height: 100vh;
  width: 100%;
  flex-wrap: wrap;
margin: 0 auto;
  top: 30%;
  position: relative;
  display: flex;
  align-content: center;
  justify-content: center;
}
.card-1,
.card-2,
.card-3,
.card-4,
.card-5,
.card-6,
.card-7,
.card-8,
.card-9,
.card-10,
.card-11,
.card-12 {
  background-image: url("../images/Lingua.png");
  background-repeat: no-repeat;
  width: 105px;
  height: 105px;
  border-radius: 15px;
  margin: 15px auto;
  box-shadow: inset 7px 7px 7px rgb(194, 193, 193),
    inset -7px -7px 7px rgb(194, 193, 193);
  cursor: pointer;
  transition: all 500 ms ease-in-out;
}

.text-footer-custom {
  padding: 10px;
  font-size: 1.2em;
  color: #22181c;
  margin-top: 40px;
  bottom: 0;
  position: absolute;
}

.text-center a {
  color: #22181c;
  padding-right: 30px;
  margin: auto 0;
  font-size: 1.4em;
}
.text-center a:hover {
  color: rgba(0, 0, 255, 0.678);
}

@media (min-width: 576px) {
  .card-1,
  .card-2,
  .card-3,
  .card-4,
  .card-5,
  .card-6,
  .card-7,
  .card-8,
  .card-9,
  .card-10,
  .card-11,
  .card-12 {
    width: 130px;
    height: 130px;
  }
  .cards-wrapper {
    top: 15%;
    
  }
}

@media (min-width: 768px) {
  .card-1,
  .card-2,
  .card-3,
  .card-4,
  .card-5,
  .card-6,
  .card-7,
  .card-8,
  .card-9,
  .card-10,
  .card-11,
  .card-12 {
    width: 150px;
    height: 150px;
  }
}

@media (min-width: 992px) {
  .card-1,
  .card-2,
  .card-3,
  .card-4,
  .card-5,
  .card-6,
  .card-7,
  .card-8,
  .card-9,
  .card-10,
  .card-11,
  .card-12 {
    width: 200px;
    height: 200px;
  }
}