* {
  margin: 0;
  padding: 0;
  border: 0;
}

body,
html {
  overflow-x: hidden;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  height: 100%;
  width: 100%;
  background-color: rgb(5, 74, 41);
  display: flex;
}

/*---Navigaton-----*/

.navbar {
  font-weight: 200;
  font-size: 0.6rem;
  letter-spacing: 0.2rem;
  padding: 0px;
  height: 4rem;
}

.navbar-custom {
  background-color: rgb(5, 74, 41);
}

.logo-name {
  font-weight: 900;
  font-size: 2.5rem;
  margin-left: 2.5rem;
  display: inline;
  color: rgb(255, 255, 255);
}

.navbar-nav li {
  padding-right: 2.5rem;
  padding-bottom: 10px;
}

.navbar-custom .navbar-nav .nav-link {
  color: rgb(244, 255, 255);
  font-size: 1.5rem;
  display: inline;
}

.navbar-custom .navbar-nav .nav-link:hover,
.logo-name:hover {
  color: rgb(208, 98, 98);
  text-transform: uppercase;
}

.navbar-toggler {
  right: 15px;
  margin: 0 auto;
  position: fixed;
}

/*Language Selector*/

.form-wrapper {
  width: 140px;
  align-self: center;
  justify-content: center;
  margin-top:10px;
  margin-left: 100px;
  
}

#language {
  font-size: 1.15rem;
  border-radius: 5px;
  padding: 2px;
}

.timer {
  display: inline-flexbox;
  font-size: 40px;
  font-weight: 600;
  background-color: red;
  
}

.card-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row;
  align-content: flex-start;
  justify-content: space-evenly;
 
}

.card-1,
.card-2,
.card-3,
.card-4,
.card-5,
.card-6,
.card-7,
.card-8,
.card-9,
.card-10,
.card-11,
.card-12 {
  background-image: url("../images/Lingua.png");
  background-repeat: no-repeat;
  width: 200px;
  height: 200px;
  border-radius: 15px;
  margin: 5px;
  
}
